# Server Configuration
PORT=3001
NODE_ENV=development

# Agent API variables
AGENTS_URL=http://localhost:8000
INTERNAL_API_KEY=SECRET_GOES_HERE

# CORS Configuration
# Wildcard will not work with cookie
CORS_ORIGIN=http://localhost:4200

# Logging
LOG_LEVEL=info
